$intrans-color:    #ffb71c;
$grey-links: #8B8B8B;

.pendiente {color: $intrans-color;}
.traductor {text-align: right;}
.cierre {margin:0; text-align: center;}
.separador {display: none;}

#content {
  margin-top: 0em;
}

.main-content {
  margin-top: 0em;
  margin-bottom: 3em;
  max-width: 50em!important;
}

@media screen and (min-width: 40em) {
  .medium-8 {width: 86.66667%; }
}
@media screen and (min-width: 64em) {
  .medium-8 {width: 80.66667%; }
}


section {padding-top: 20vh;}

section:last-of-type {margin-bottom: 20vh;}

//  p {
//    max-width: 45em;
//    margin-left: auto!important;
//    margin-right: auto!important;
// }



h1 {
    margin-bottom: 1.5em;
    letter-spacing: 6px!important;
  }

h2 {letter-spacing: 0px;}
  h2 span.text-h1 .upper {    letter-spacing: 4.2px!important;}








// .column, .columns {
//   padding-left: 1.5rem;
//   padding-right: 1.5rem; }

#tnav-menu > a {color: black;}

// li.tnav-item.es::before {
//   content: 'algo';
//   display: inline-block;
// }


.row {max-width: 95rem;}

hr {
  // color: grey;
  height: 1em;
  // max-width: 50%;
  // border-bottom: 1px solid grey;
}

   
//  div[lang|=se] {
//     border-right: 0px solid $intrans-color;
//   }

//   @media screen and (max-width: 64em)  {
//     div[lang|=se] {
//       border-bottom: 0px solid $intrans-color;
//     }  
//   }

//   .avance-prog {
//       h1, p {margin: 0;}
//       h1 {margin-top: 1.5em;}
//       a {
//           text-decoration: none!important;
//           color: inherit;
//       }
//   }


                                // PROGRAMA
.programa {
  .jornada {
      margin-top: 2em;
      border-bottom: 1px solid black;
      padding-bottom: .5em;
      * {margin: 0;}

      h2.fecha {
          letter-spacing: 4px;
          text-transform: uppercase!important;
      } 
      .titulo-prog {text-align:center;}
      .lugar {margin-top: 1em;} 
      .horario {margin: 0;}   
      .evento {
          margin-bottom: 1.5em;
          .titulo-evento {font-style: italic; 
              span.hora {font-style: normal!important; }
            }
          ul.ponentes {list-style: none;}
      }
      p {margin: 0;}             
  }//fin de la jornada

}//fin l programa


                        // PARTICIPANTES
.participantes {}

div.participante {
          margin-bottom: 3em;
          h2 {text-transform:none; margin-top: 10px;}
          span.leer-mas2 {
            display: block;
            color:#8B8B8B;
            text-decoration: none;
              a {
                color:#8B8B8B;
                text-decoration: none;
              }
          }
          .fecha-bio {
            font-size: .8em;
            margin-top: -1.3em;
          }
          .foto-cont2 {
              // max-width: 60vw;
              height: auto;
              // width:300px;
              img {height: auto;  object-fit: cover; max-width: 300px;}
              figcaption {
                position:absolute; 
                z-index:-3;
                left:0em; top:25px; opacity:0.9;
                color:rgb(197, 236, 19);
                font-size: 1.6em;
                text-align: left;
                // margin-top: -2.5em;
                // margin-left: .3em;
              }
          }   
          .text2 {font-size: 90%;}                      
}  
section.sedes, section.about {
  div.participante {
    .foto-cont2 {
      img {max-width: 150px;}
    }
  }  
}                       
@media (min-width: 1025px) {
  div.participante {
    margin: 0em auto;
    padding: 1em 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 35px;
        .nombre2 {grid-column: 2 / 3;  h2 {margin-top: -5px; margin-bottom: 1em;}}
        .foto-cont2 {grid-row: 1 / 3; 
            img {object-fit: cover; max-width:100%;
              // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
              // filter: grayscale(100%);
            }
        }
        .text2 {grid-column: 2 / 3;}
  }
  section.sedes, section.about {
    div.participante {
      grid-template-columns: 150px 1fr;
    }  
  }  
}
@media (min-width: 1225px) {
  div.participante {
    grid-template-columns: minmax(auto, 350px)  1fr;
  }
  section.sedes, section.about {
    div.participante {
      grid-template-columns: 200px 1fr;
    }  
  } 
}  



// @media (max-width: 1025px) {

//   section.about div.participante {
//         grid-template-columns: 150px 1fr!important;
//         .foto-cont2 img {max-width: 150px;}
//       }
// }


// Las páginas propias de cada participante
.participante-bio {
  margin-top: 6em;
}



                            // TEXTOS INDEX
section.textos {
    h2 {
      margin-bottom: 4em; 
      font-style: italic;
        span.autor {font-style: normal;}
    }
    div.texto {
      border-bottom: 1px solid black;
          h2 {margin-bottom: 0;}  
      }
    div[class^="texto"]:first-child {margin-top: 2em;}

    div.js-to_expand {margin-bottom: 4em;}
  }


  
  

                            // SEDES
.sedes {
    .foto-cont2 {padding-top: 5px;}
    .nombre2 h2 {margin-bottom: 0!important;}
    .text2 p {margin: 0!important;}
}


                        // ABOUT
.organizadores,
.creditos,
.about {
  .foto-cont2 {padding-top: 0px;}
  .nombre2 h2 {margin-bottom: 0!important;}
  .text2 p {margin: 0!important;}

  .resto-creditos {
    margin-top: 4em;
      p {
        font-size: 90%;
        margin:0;
      }
  }
}






// Cosas nuevas añadidas a partir del XD de TSU



.entrada{
  // margin: 0 1rem; 
  display: grid;
  grid-template-rows: minmax(10vh, 1fr) minmax(100px, 600px) 1fr;      
  justify-items: center;
  height: 90vh;
  margin-top: 10vh;
    img {  /* autoprefixer: off */
      grid-row: 2;
      height: 100%;
    }
}


.logo-open {
  height: 100vh;
  max-height:900px;
  background-color: $topbar-navigation-border-bottom;
}
.logo-open img {max-height: 100vh; width: auto;}

#tnav {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  white-space: nowrap;
  border-bottom: 0px solid $line-color;
  background: $background-color;
  opacity: 100;
}

#tnav, 
.tnav-list,
#tnav-logo {height: 4em; }

.tnav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

#tnav-logo {}

#tnav-logo > a img{
  max-height: 3em; padding-top: 10px;
}

a,
a:link {
    -webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
    transition: all .15s cubic-bezier(.33,.66,.66,1);
    color: $text-color;
    text-decoration: none;
    border-bottom: 0px solid $ci-1;
}
a:hover {
  background-color: mix(#fff, black, 90%);
}
a:visited {
  border-bottom: none;
}
a:active {
  color: black!important;
}

.upper {text-transform: uppercase;}











                                      // El expand ARIA

              .js-to_expand[aria-hidden=true],
              .js-to_expand[data-hidden=true] {
                display: none;
              }
              button {
                box-shadow: none;
                line-height: inherit;
                padding: 0;
                margin: 0;  
              }


                button:hover,
                .button:hover {
                  background-color: mix(#fff, black, 90%);
                }
              .js-expandmore {}
              .js-to_expand {margin-top: 2em!important;}

              .expandmore__button {
                background: none;
                font-size: inherit;
                color: inherit;
                font-weight: inherit;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
              }

              .expandmore__button span.text-h1 {
                text-align: left;
              }

              /* optional */
              .expandmore__symbol {
                order: 2;
                padding-left: 25px;
              }
              .expandmore__symbol > img {
                  width: 100px;
                  transition-duration: 300ms;
                }
              .is-opened .expandmore__symbol img {
                transform: rotate(180deg);
              }



              .expandmore__button[aria-expanded=true] > .expandmore__symbol::after {
                // content : '\232A';
              }

              /* This is the opened state */
              .animated-expandmore__to_expand {
              display: block;
              overflow: hidden;
              opacity: 1;
              transition: visibility 0s ease, max-height 2s ease, opacity 2s ease ;
              max-height: 80em;
              /* magic number for max-height = enough height */
              visibility: visible;
              transition-delay: 0s;
              }
              /* This is the hidden state */
              [data-hidden=true].animated-expandmore__to_expand {
              display: block;
              max-height: 0;
              opacity: 0;
              visibility: hidden;
              transition-delay: 2s, 0s, 0s;
              }

              button.mini-combo-expandmore__button {
                background: none;
                font-size: inherit;
                color: inherit;
                font-weight: inherit;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 2em;
                margin:auto;
                border: 2px solid red;
              }















.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-left: 2em;
  padding-right: 10px;
  vertical-align: 3px;
  float: right;
  // color: magenta;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }




                // readMore
.dots {}

.more {
  display: none;
  -webkit-transition: display .15s cubic-bezier(.33,.66,.66,1);
  transition: display 1s ease-out;
}

.myBtn {
background-color: transparent;
color:$grey-links;
cursor: pointer;
font-size: 90%;
}
    @media (max-width: 1025px) {
      .myBtn {margin-top: -1em;}
    }  



                 // Collapsible max-height:0 => max-height:scrollHeight+px   
.collapsible {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: auto;
  justify-content: center;
  margin-top: 3em;
  border-bottom: 1px solid black;
}
.flechita {
  width: 2em;
  margin-left: 25px;
    img {padding-top: 25px;}
}

.active, .collapsible:hover {
  // background-color: rgb(223, 36, 36);
}

.content-collapse {
  // padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
